#root {
    text-align: center;
    padding-top: 5px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.home {
    background: linear-gradient(150deg, rgba(0, 0, 25, 1) 0%, rgba(125, 150, 255, 1) 50%, rgba(0, 0, 25, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** Text Gradient Example */
.text-gradient {
    color: #6f7d3f;
    background-image: linear-gradient(75deg, #6f7d3f 16%, #87f57c 31%, #2d561a 12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.metallic-element {
    background: linear-gradient(130deg, rgba(150, 175, 255, 1) 0%, rgba(225, 225, 255, 1) 50%, rgba(150, 175, 255, 1) 100%);
    border: 1px solid #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.metallic-element:hover {
    background: linear-gradient(130deg, rgba(150, 175, 255, .75) 0%, rgba(225, 225, 255, .75) 50%, rgba(150, 175, 255, .75) 100%);
}